<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--springMvc注解配置-->
    <mvc:annotation-driven/>
    <!-- Spring MVC不处理静态资源 -->
    <mvc:default-servlet-handler/>
    <!--springMvc资源解析配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--访问资源前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--访问资源后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--swagger 配置-->
    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>

</beans>